body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#2563eb,#06b6d4);
}

.container{
max-width:900px;
margin:30px auto;
background:white;
padding:20px;
border-radius:14px;
box-shadow:0 20px 50px rgba(0,0,0,.2);
}

button{
width:100%;
padding:14px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

#map{
height:350px;
margin:20px 0;
border-radius:10px;
}

.card{
background:#f1f5f9;
padding:10px;
margin-bottom:10px;
border-radius:8px;
}
